*{
    font-family: "Raleway", sans-serif;
    color:#23406d;
    margin:0;
}




/* Home page */
.home{
    position:relative;
    height: 120vh;
    background:radial-gradient(
      circle at 20% 40%,     
      #afe4f6 0%,            
      #cce5fa 20%,         
      #d4eaff 40%,         
      #eaf6ff 70%,          
      #a5d9f9 100%           
  );
}
#brand-name{
    color: #1e3d6c;
    font-size: 30px;
    font-weight: bold;
}
#navbar{
    background-color: transparent;
    box-shadow: none;
}
#navbar.scrolled {
  background:linear-gradient(
  to right,
  #acddf6 0%,
  #d4eaff 15%,
  #eaf6ff 40%,
  #eaf6ff 60%,
  #d4eaff 85%,
  #bdeef9 100%
); 
}
.container-fluid{
    position:relative;
    z-index: 3;
}
#navopt{
    color:#23406d;
    font-size: 20px;
    font-weight: 450;
}
#navopt:hover{
    font-weight: 500;
}
.photobg{
    position:absolute;
    top:100px;
    left:830px;
    z-index: 1;
    width: 350px; 
    height: 350px; 
    box-shadow: 0 0 18px #43b0f1;
    border-radius: 50%;
    background-color: #ffffff;
}
.myphto{
    position:relative;
    bottom:100px;
    right:20px;
    z-index: 2;
    height:635px;
    width: 375px;
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
.hi{
    position:absolute;
    left: 50px;
    top: 150px;
    z-index: 1;
    font-size: 40px;
    font-weight: 600;
    overflow: hidden;
    white-space: nowrap; 
    margin: 0 auto; 
    animation:  typing 3s steps(40, end);
}
.myname{
    color:#0098fe;
    position:absolute;
    left: 50px;
    top: 200px;
    z-index: 1;
    font-size: 50px;
    font-weight:bold;
    overflow: hidden;
    white-space: nowrap; 
    margin: 0 auto; 
    animation:  typing 3s steps(40, end);
}
.wb{
    position:absolute;
    left: 50px;
    top: 270px;
    z-index: 1;
    font-size: 40px;
    font-weight: 600;
    overflow: hidden;
    white-space: nowrap; 
    margin: 0 auto; 
    animation:  typing 3s steps(40, end);
}
.about{
    position:absolute;
    left: 50px;
    top: 340px;
    z-index: 1;
    width: 600px;
}
#syhello{
    width: 130px;
    height: 45px;
    position:absolute;
    left: 50px;
    top: 65%;
    z-index: 1;
    font-weight: 600;
    color:#1a3357;
    border-width: 2.5px; 
    border-color:#15aff7;
}
#syhello:hover{
    background-color:#21abeb;
    color:white
}
@keyframes line {
    from{height: 0px;
    }
    to{height: 270px;
    }
}
.vl {
    position:absolute;
    top:150px;
    left:40px;
    z-index: 1;
    border-left: 2px solid black;
    height: 270px;
    width: 10px;
    animation: line 1s ease-in 1 normal;
}
#icon{
    font-size: 30px;
    color:#1a3357;
    padding: 8px;
}
#icon:hover{
    color:black;
    font-weight:bold;
}
.social_media{
    left:1170px;
    top:180px;
    position:absolute;
    z-index: 1;
}




/* skill section */
.skills{
    position:relative;
    height: 200vh;
    padding-top:50px;
    padding-left: 50px;
    padding-right: 50px;
    background:linear-gradient(
  to right,
  #acddf6 0%,
  #d4eaff 15%,
  #eaf6ff 40%,
  #eaf6ff 60%,
  #d4eaff 85%,
  #bdeef9 100%
);
}
.sec-title{
    font-size: 50px;
    font-weight: bold; 
    text-align: center; 
}
.v2{
    position: absolute;
    left: 48%;
    right: 52%;
    border-bottom: 5px solid  #21abeb;
    width: 50px;
}
.skills h2{
    font-weight: 600;
}
.skills h2 i{
    padding-right: 20px;   
}
#skill-img{
    height:80px;
    width: 80px;
    border-radius: 50%;
    margin-top: 18px;
    margin-left:95px;
    border:1.5px solid rgba(128, 128, 128, 0.628)
}
.row{
    padding-left:50px;
    padding-top:25px;
    margin-bottom: 50px;
}
.card:hover{
    box-shadow: 0 0 20px #0e9df0;
}
.card-body p{
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 0;
    text-align: center;
}
#progress{
    height: 8px;
}
#progress-bar{
    border-radius: 40px;
    height:8px;
    background-color: #21abeb;
}
#sql-card:hover{
    box-shadow: 0 0 20px #703acf ;
}
#progress-bar-db{
    border-radius: 40px;
    background-color: #8c59e4 ;
}
#card-ds:hover{
    box-shadow: 0 0 20px #1dc690;
}
#progress-bar-ds{
    border-radius: 40px;
    background-color:#1dc690;
}



/* Education section */
.education{
    position:relative;
    height: 180vh;
    padding-left: 50px;
    padding-right: 50px;
    background:linear-gradient(
  to right,
  #acddf6 0%,
  #d4eaff 15%,
  #eaf6ff 40%,
  #eaf6ff 60%,
  #d4eaff 85%,
  #bdeef9 100%
);
}
.l1 {
    position:absolute;
    left:35%;
    top: 120px;
    z-index: 1;
    border-left: 5px solid  #21abeb;
    height:900px;
    width: 10px;
}
.edu-box{
    padding: 20px 20px 20px 20px;
    height:250px;
    width: 500px;
    border-radius: 8px;
    border: 4px solid   #21abeb ;
}
.edu-box:hover{
    box-shadow: 0 0 20px #0e9df0;
}
.circle1{
    position:absolute;
    top:150px;
    left:34.45%;
    z-index: 1;
    width: 20px; 
    height: 20px; 
    border-radius: 50%;
    background-color: #21abeb;
}
#college-box{
    position:absolute;
    top:150px;
    left:37%;
}
#college-yr{
    font-size: 35px;
    font-weight: bold;
    position:absolute;
    top:135px;
    left:18%;
}
.circle2{
    position:absolute;
    left:34.45%;
    top:39%;
    z-index: 1;
    width: 20px; 
    height: 20px; 
    border-radius: 50%;
    background-color:  #21abeb;
}
#sin-sec-box{
    position:absolute;
    left:37%;
    top:39%;
}
#ss-yr{
    font-size: 35px;
    font-weight: bold;
    position:absolute;
    top:37.5%;
    left:18%;
}
.circle3{
    position:absolute;
    top:65%;
    left:34.45%;
    z-index: 1;
    width: 20px; 
    height: 20px; 
    border-radius: 50%;
    background-color: #21abeb;
}
#high-sec-box{
    position:absolute;
    top:65%;
    left:37%;
}
#hs-yr{
    font-size: 35px;
    font-weight: bold;
    position:absolute;
    top:63.5%;
    left:18%;
}
.edu-box h4{
    font-weight: bold;
}
.edu-box h6{
    color: #21abeb;
    font-weight: 700;
}
.edu-box p{
    font-size: 15px;
}
.edu-p{
    padding-top: 12px;
}




/* Project section */
.Projects{
    position:relative;
    height: 190vh;
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
    background:linear-gradient(
  to right,
  #acddf6 0%,
  #d4eaff 15%,
  #eaf6ff 40%,
  #eaf6ff 60%,
  #d4eaff 85%,
  #bdeef9 100%
);
}
.project-caption{
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    padding-top:25px;
}
#sptfy{
    height: 158px;
}
.card-body span{
    padding: 10px 10px 10px 10px;
    border-radius: 20px;
    background-color:#43b0f1;
    color: white;
    font-size: 15px;
    font-weight: 600;
}
.card-text{
    padding-bottom: 30px;
}




/* Contact */
.Contact{
    position:relative;
    height: 120vh;
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
    background:linear-gradient(
  to right,
  #acddf6 0%,
  #d4eaff 15%,
  #eaf6ff 40%,
  #eaf6ff 60%,
  #d4eaff 85%,
  #bdeef9 100%
);
}
#row-cont{
    margin-top:80px;
    padding:0;  
}
#send{
    color: white;
    font-weight: bold;
    padding-right: 5px;
}
form{
    height: 500px;
    width: 550px;
    padding:  30px  30px  30px 30px;
    background-color: rgba(255, 255, 255, 0.74);
    border-radius: 15px;
    border: 1px solid rgba(128, 128, 128, 0.215);
}
form:hover{
    box-shadow: 0 0 20px #11a0f3;
}
.form-label{
    font-weight: 600;
}
.contact-info{
    height: 500px;
    width: 530px;
    padding:  30px  30px  30px 30px;
    background-color: rgba(255, 255, 255, 0.74);
    border-radius: 15px;
    border: 1px solid rgba(128, 128, 128, 0.215);
}
.contact-info:hover{
  box-shadow: 0 0 20px #11a0f3;
}  
.contact-info h2{
    padding-bottom: 30px;
}

#contact-icon{
    padding-right: 10px;
}
.cont-sm{
    position:relative;
    top:55px;
    display: flex;
    column-gap: 8px;
}
.cont-sm a{
    font-size: 30px;
}



/* footer */
.footer-css{
    position:absolute;
    z-index: 1;
    width:100%;
    background:linear-gradient(
  to right,
  #acddf6 0%,
  #d4eaff 15%,
  #eaf6ff 40%,
  #eaf6ff 60%,
  #d4eaff 85%,
  #bdeef9 100%
);
}
.footer-css p{
    position: relative;
    top:40px;
    left:60px;
    width: 500px;
}
.footer-css a{
    font-size: 25px;  
}
#link-icon{
position: relative;
bottom:48px;
left:91%;

}
#git-icon{
position: relative;
bottom:11px;
left:93.5%;
}
